version: '3.9'
services:
  postgres:
    image: postgres:16
    container_name: postgres_hex
    environment:
      POSTGRES_DB: hex_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
